/* body {
    background-color:bisque;
}
ol{
    font-family: sans-serif;
    font-size: 25px;
    position: relative;
    left: 550px;
}
.one,.three{
    color: rgb(255, 138, 138);
}
.two{
    color: rgb(0, 255, 0);
}
p{
    font-size: 20px;
    position: relative;
    left: 160px;
}
button{
    border: transparent;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    position: relative;
    left: 540px;
} */

/* 
p{
    padding: 20px;
    margin: 20px;
}

.click{
    margin: 20px;
} */