* {
    margin: 0;
    padding: 0;
}

header {
    padding: 5px 25px 5px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(161, 159, 159);
}

.myntraLogo {
    height: 45px;
}

.collection {
    width: 520px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    height: 50px;
}

.collection a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 15px;
}

.collection a:hover {
    padding-bottom: 19px;
    padding-top: 22px;
    border-bottom: 2px solid #f74e77;
}

sup {
    font-size: 12px;
    color: #f74e77;
}

.inputBox {
    display: flex;
}

.inputBox button {
    height: 45px;
    width: 35px;
    border: transparent;
    background-color: rgb(226, 223, 223);
    border-radius: 8px 0 0 8px;
}

.inputBox input {
    width: 350px;
    padding: 9px 0;
    background-color: rgb(226, 223, 223);
    border: transparent;
    border-radius: 0 8px 8px 0;
    font-size: 15px;
}

.inputBox input::placeholder {
    font-size: 15px;
    padding-left: 5px;
}

.lastHead {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: sans-serif;
}

.profile,
.wishlist,
.bag {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot1 {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    font-family: sans-serif;
    background-color: rgba(238, 237, 237, 0.671);
    border-bottom: 1px solid gray;
}

.footer1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rest_footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(131, 131, 131);
}

.foot2 {

    display: flex;
    justify-content: right;
    padding: 10px 10px;
    color: rgb(143, 143, 143);
    font-family: sans-serif;
    font-size: 15px;
}
.secondPage {
    margin: 0 30px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
}

.item_box {
    border: 1px solid rgb(130, 130, 130);
    display: flex;
    width: 750px;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.label {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.secondPage .item_box .img_box img {
    width: 130px;

}

.item_box .text_box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 3px;
}

.text_box .brand_box p {
    font-size: 17px;
}

.text_box .name_box p {
    font-size: 17px;
    color: rgb(142, 142, 142);
}

.text_box .price_box {
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-size: 15px;
    align-items: baseline;
}

.text_box .price_box del {
    color: rgb(142, 142, 142);
}

.text_box .price_box .discount {
    font-size: 14px
}

.text_box .return_days {
    font-size: 16px
}

.text_box .delivery_date p {
    font-size: 13px;
}

.details {
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    gap: 10px;
}

.details .heading p {
    font-size: 14px;
    font-weight: bold;
    color: rgb(98, 98, 98);
}

.mrp_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.details .mrp_list .total_mrp,
.discounted_mrp,
.delivery_fee,
.final_amt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.final_button button {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background-color: #fd4169;
    border: transparent;
    font-size: 14px;
    color: rgb(228, 228, 228);
}