* {
    margin: 0;
    padding: 0;
}

header {
    padding: 5px 25px 5px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(161, 159, 159);
}

.myntraLogo {
    height: 45px;
}

.collection {
    width: 520px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    height: 50px;
}

.collection a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 15px;
}

.collection a:hover {
    padding-bottom: 19px;
    padding-top: 22px;
    border-bottom: 2px solid #f74e77;
}

sup {
    font-size: 12px;
    color: #f74e77;
}

.inputBox {
    display: flex;
}

.inputBox button {
    height: 45px;
    width: 35px;
    border: transparent;
    background-color: rgb(226, 223, 223);
    border-radius: 8px 0 0 8px;
}

.inputBox input {
    width: 350px;
    padding: 9px 0;
    background-color: rgb(226, 223, 223);
    border: transparent;
    border-radius: 0 8px 8px 0;
    font-size: 15px;
}

.inputBox input::placeholder {
    font-size: 15px;
    padding-left: 5px;
}

.lastHead {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: sans-serif;
}

.profile,
.wishlist,
.bag {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot1 {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    font-family: sans-serif;
    background-color: rgba(238, 237, 237, 0.671);
    border-bottom: 1px solid gray;
}

.footer1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rest_footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(131, 131, 131);
}

.foot2 {
    
    display: flex;
    justify-content: right;
    padding:10px 10px;
    color: rgb(143, 143, 143);
    font-family: sans-serif;
    font-size: 15px;
}
.photo_container{
    font-family: sans-serif;
    margin: 50px 50px 0 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.photo1{
    width: 260px;
    padding: 10px;
    margin-bottom: 50px;
}
.photo1 .text1{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.photo1 .img1 img{
    height: 350px;
    width: 100%;
}
.photo1 .rating1 p{
    font-weight: bold;    
    font-size: 15px;
}
.photo1 .brand1 p{
    font-weight: bold;
    font-size: 18px;
}

.photo1 .name1{
    /* word-wrap: break-word; */
    line-height: 1;
    display: block;
}
.photo1 .name1 p{
    font-size: 15.5px;
    color: rgb(94, 94, 94);
}
.photo1 .cost1{
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.photo1 .cost1 .rate{
    font-size: 15px;
    font-weight: bold
}
.photo1 .cost1 del{
    font-size: 14px;
    color: rgb(134, 134, 134);
}
.photo1 .cost1 .discount{
    font-size: 12px;
    color: #ff7300;
}
.photo1 button{
    font-size: 18px;
    padding: 5px 81.5px;
    border-radius: 10px;
    border: transparent;
    background-color: #90ee90;
}