.box {
    width: 150px;
    height: 150px;
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 8px;
    margin: 50px auto;
    font-family: sans-serif;
}

.box:hover {
    transform:scale(1.5);
    background-color: #2ecc71;
}

@keyframes dhairya {
    0%{transform: rotate(0deg);
    }

    25% {
        transform: rotateZ(90deg);
    }

    50% {
transform: rotateZ(180deg);      

    }

    75% {
     transform: rotateZ(270deg);
    }

    100% {
  transform: rotateZ(360deg);
    }
}

.box {
    position:relative;
    animation: dhairya 5s linear infinite;
}