body {
    background-color: #ff7629;
    padding: 10px;
    font-family: sans-serif;
    display: flex;
    font-size: 13px;
    justify-content: center;
}

.main {
    background-color: rgb(0, 0, 0);
    height: 720px;
    width: 343px;
    padding: 25px;
    padding-bottom: 65px;
    padding-top: 50px;
    border-radius: 35px;
}

p {
    display: inline;
    color: white;
    padding: 4px;
    font-size: 18px;
}

.basic {
    border-bottom: 1px solid #ff7629;
    color: #ff7629;
}

footer {
    margin-top: 265px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 18px;
    margin: 5px;
}

.first {
    font-size: 18px;
    color: #ff7629;
    width: 72px;
    
    height: 40px;
    border: 2px solid black;
    background-color: rgb(39, 37, 37);
}

.acb {
    width: 72px;
    height: 72px;
    background-color: rgba(184, 177, 177, 0.493);
    font-size: 24px;
    border: 2px solid black;
    color: white;
    font-family: sans-serif;
}

.dm,
.minus {
    width: 72px;
    height: 72px;
    background-color: #ff7629;
    font-size: 30px;
    border: 2px solid black;
    color: black;
}

.sen,
.ffs,
.ott{
    width: 72px;
    height: 72px;
    background-color: rgb(39, 37, 37);
    font-size: 30px;
    border: 2px solid black;
    color: #ff7629;
}

.sen {
    margin: 5px;
}

.fourthLayer .plus {
    width: 75px;
    height: 115px;
    background-color: #ff7629;
    font-size: 30px;
    border: 2px solid black;
    color: black;
    margin-right: 15px;
}

.fifthLayer .equal {
    width: 75px;
    height: 115px;
    background-color: rgb(248, 248, 248);
    font-size: 30px;
    color: black;
    border: 2px solid black;
    margin-top: 12px;
    margin-right: 15px;
}

.firstLayer {
    position: relative;
    top: -30px;
    width: 350px;
}

.secondLayer {
    position: relative;
    top: -25px;
    width: 350px;
}

.thirdLayer {
    position: relative;
    top: -20px;
    width: 350px;
}

.fourthLayer {
    position: relative;
    top: -15px;
    width: 350px;
    display: flex;
}

.fourthLayer button {
    margin: 6.5px;
}

.fifthLayer .ott {
    position: relative;
    top: -47px;
    left: -1px;
}

.fifthLayer {
    display: flex;
    width: 350px;
    position: relative;
    top: -10px;
}

.fifthLayer button {
    margin: 6.5px;
}


.sixthLayer {
    display: flex;
    width: 250px;
    position: relative;
    bottom: 93.5px;
}

.sixthLayer .zero {
    width: 250px;
    height: 72px;
    background-color: rgb(39, 37, 37);
    font-size: 30px;
    border: 2px solid black;
    color: #ff7629;
}

.sixthLayer .d {
    margin: 5px;
    margin-left: 27px;
    width: 120px;
    height: 72px;
    background-color: rgb(39, 37, 37);
    font-size: 30px;
    border: 2px solid black;
    color: #ff7629;
} 
          